body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pelota {
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 100px;
    animation: rebotar 1s infinite ease;
}

@keyframes rebotar {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(100px);
    }
}