* {
    font-family: sans-serif;
}

.fila {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.fila:hover {
    background-color: rgba(255, 0, 0, 0.226);
}

.fila div {
    flex: 1;
    padding: 4px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fila div:hover {
    overflow: visible;
    white-space: wrap;
}

.ficha {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

.ficha:hover {
    background-color: rgba(255, 0, 0, 0.226);
}

.fichas {
    display: flex;
    flex-wrap: wrap;
}

.fila-titulo {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 2px solid #888;
}

.fila-titulo:hover {
    background-color: #f0f0f0;
}

.menu button{
    margin-left: 30px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.menu {
    display: flex;
}

.seleccionada {
    background-color: rgba(255, 0, 0, 0.226);
}