.coches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

.coche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
}

.coche p {
    margin: 5px;
}