.navegacion {
    background-color: lightgrey;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.navegacion ul li {
    display: inline;
    margin-left: 55px;
}
